
<meta charset="UTF-8">
<div class="container">
		<h2>Liste des produits mots-clés</h2>
		<table class="table table-striped">
			<tr>
				<th>Id</th>
				<th>Mot-clé</th>
				<th>Produit</th>
				<th colspan="2">Action</th>
			</tr>


			<tr ng-repeat="produitmotcle in produitmotcleCtrl.produitmotcles">
				<td>{{produitmotcle.id}}</td>
				<td>{{produitmotcle.motCle.motCle}}</td>
				<td>{{produitmotcle.produit.nom}}</td>
				<td><a class="btn btn-info btn-xs" ng-click="produitmotcleCtrl.edit(produitmotcle.id)">Editer</a></td>
				<td><a class="btn btn-info btn-xs" ng-click="produitmotcleCtrl.remove(produitmotcle.id)">Supprimer</a></td>
			</tr>

			<tr>
				<td colspan="7"><a class="btn btn-info" ng-click="produitmotcleCtrl.add()">Ajouter un mot-clé à un produit</a></td>
			</tr>
		</table>
		
		<fieldset ng-show="produitmotcleCtrl.produitmotcle">
			<legend>Edition d'un mot-clé  d'un produit</legend>
			<form method="post" ng-submit="produitmotcleCtrl.save()">
				<div class="form-group">
					<input type="hidden" id="id" ng-model="produitmotcleCtrl.produitmotcle.id"/>
				</div>
				<div class="form-group">
					<label for="motcle">Mot-clé</label>
					<select id="motcle" ng-model="produitmotcleCtrl.produitmotcle.motCle" ng-options="motcle as motcle.motCle for motcle in produitmotcleCtrl.motcles track by motcle.id"></select>
				</div>
				<div class="form-group">
					<label for="produit">Produit</label>
					<select id="produit" ng-model="produitmotcleCtrl.produitmotcle.produit" ng-options="produit as produit.nom for produit in produitmotcleCtrl.produits track by produit.id"></select>
				</div>
				
				<input type="submit" value="Valider" class="btn btn-default"  />
			</form>
		</fieldset>
</div>
